html, body, div, ul, li, button, h1, p
{
    margin: 0px;
    padding: 0px;
}

body
{
    overflow: hidden;
}

#canvas
{
	cursor: crosshair;
}

.menu#top
{
	top: 0px;
}

.menu#bottom
{
	bottom: 15px;
}

.menu
{
	position: absolute;
	left: 30%;
	right: 30%;
	z-index: 10;
	cursor: hand;
}

nav
{
	display: table;
    table-layout: fixed;
    width: 100%;
}

nav ul
{
	display: table-row;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    display: table-cell;
    text-align: center;
    height: 60px;
}

nav ul li a
{
	display: block;
	color: #00000000;
	height: 30px;
	background-image: url("../imgs/groovepaper.png");
	/*box-sizing:border-box;*/
	/*transition: border .5s;*/
}

nav ul li:first-child a
{
	border-radius: 50px 0px 0px 50px;	
}

nav ul li:last-child a
{
	border-radius: 0px 50px 50px 0px;
}

nav ul li a:hover
{
	
}

nav ul li a.selected
{
	background-color: #FFFFFF;
}

nav ul li a.selected:hover
{

}
