html, body, div, ul, li, button, h1, p
{
    margin: 0px;
    padding: 0px;
}

body
{
    overflow: hidden;
}

#canvas
{
	cursor: crosshair;
}

#center
{
	position:absolute;
	top:50%;
	bottom:50%;
	left:50%;
	right:50%;
	z-index: 11;
}

#center img
{
	position: relative;
	right: 280px;
	bottom: 400px;
}

#center a
{
	display:none;
}

#top
{
	position: absolute;
	top: 25px;
	right: 30px;
	z-index: 10;
}

#top a
{
	font-size: 20px;
	color: #1e1e1e;
}

#top a:hover
{
	color: #ff0054;
}

#top a:active
{
	color: #4E395D;
}

.menu#bottom
{
	bottom: 15px;
}

.menu
{
	position: absolute;
	left: 35%;
	right: 35%;
	z-index: 10;
	cursor: hand;
}

nav
{
	display: table;
    table-layout: fixed;
    width: 100%;
}

nav ul
{
	display: table-row;
    margin: 0;
    padding: 0;  
}

nav ul li {
    list-style: none;
    display: table-cell;
    text-align: center;
    height: 30px;
}

nav ul li a
{
	display: block;
	color: #00000000;
	height: 15px;
	background-image: url("../imgs/grey-jean.png");
	opacity: 0.3;
	/*box-sizing:border-box;*/
	/*transition: border .5s;*/
	/*border-style: solid;*/
	/*border-radius: 50px 50px 50px 50px;*/
/*	border-right: none;
	border-left: none;*/
	transition: opacity .7s;
}

nav ul li:first-child a
{
	border-radius: 50px 0px 0px 50px;
	/*border-left: solid;	*/
}

nav ul li:last-child a
{
	border-radius: 0px 50px 50px 0px;
	/*border-right: solid;	*/
}

nav ul li a:hover
{
	/*border-style: solid;*/
	transition: opacity .1s;
	opacity: 0.9;
}

nav ul li a.selected
{
	transition: opacity .1s;
	opacity: 1;
}

nav ul li a.selected:hover
{

}
